.sidebar {
    height: 100%;
    
    position: absolute;
    left: 0;
    top: 0;
    padding:1em;
    background-color: lightblue;
}

.main{
    height: 100%;

    position: relative;
    left: 13em;
    top:0;
    background-color: lightgreen;
}